# Exclude from git repository object and binary files
bin/*
obj/*
project/obj/*
project/*/obj/*
cmake-build-debug/*

# Exclude IDE layout and user specific files
*.out
*.layout
*.depend
.idea

# Exclude all files used to generate pdf documentation, except pdf file itself
documentation/pdf/*
!/documentation/pdf/*.pdf
